.node-red/.flows.json.backup
[{"id":"b59bc4d3.917488","type":"tab","label":"heroku deploy","disabled":false,"info":""},{"id":"6a71d497.0c584c","type":"tab","label":"wake up timer","disabled":false,"info":""},{"id":"ac1b684.5895598","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"faa3bd83.e694f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"49eeb9d7.b013e8","type":"http in","z":"b59bc4d3.917488","name":"","url":"/line","method":"get","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["ccb5bcbe.5d6bf"]]},{"id":"e184963c.01a588","type":"http response","z":"b59bc4d3.917488","name":"","statusCode":"","headers":{},"x":791.0000038146973,"y":121,"wires":[]},{"id":"80b9e0e4.c75be","type":"template","z":"b59bc4d3.917488","name":"Line 電子名片","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css\" integrity=\"sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M\" crossorigin=\"anonymous\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n        <title>{{title}}}</title>\n    </head>\n   \n    <body>\n        <h1 id=\"displaynamefield\"> </h1>\n        <img src=\"https://i.imgur.com/BL8SojQ.jpg\" class=\"center\"/> \n        <br>\n        <button id=\"Btn1\" class=\"button\" onclick=\"get_profile()\" >得到個人資訊</button>\n        <button id=\"Btn1\" class=\"button\" onclick=\"sendTargetPicker()\" >分享我的名片</button>\n        <script src=\"https://static.line-scdn.net/liff/edge/versions/2.6.0/sdk.js\"></script>\n        <script>\n            var userId = \"\";\n            var my_card = {\n  \"type\": \"carousel\",\n  \"contents\": [\n    {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"url\": \"https://imgur.com/rn2QJgJ.jpg\"\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Jason\",\n            \"wrap\": true,\n            \"weight\": \"bold\",\n            \"size\": \"xl\"\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"山雲創新科技-物聯網講師\",\n                \"wrap\": true,\n                \"weight\": \"bold\",\n                \"size\": \"sm\",\n                \"flex\": 0\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": []\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"button\",\n            \"style\": \"primary\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"label\": \"與我聯繫\",\n              \"uri\": \"https://line.me/ti/p/Rjiz_ydf2Z\"\n            },\n            \"color\": \"#00ACC7\"\n          },\n          {\n            \"type\": \"button\",\n            \"style\": \"primary\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"label\": \"分享我的名片\",\n              \"uri\": \"https://liff.line.me/1655113925-ZYDom4rm\"\n            },\n            \"color\": \"#00ACC7\"\n          },\n          {\n            \"type\": \"button\",\n            \"flex\": 2,\n            \"style\": \"primary\",\n            \"color\": \"#00ACC7\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"label\": \"官方網站\",\n              \"uri\": \"https://3anology.com.tw/\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"url\": \"https://imgur.com/zCYprab.jpg\"\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"vertical\",\n            \"contents\": [],\n            \"position\": \"relative\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \" \"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"專業技能🌻\",\n            \"wrap\": true,\n            \"weight\": \"bold\",\n            \"size\": \"xl\"\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"C/C++，Node-Red(IOT)\",\n                \"wrap\": true,\n                \"size\": \"sm\",\n                \"flex\": 0,\n                \"weight\": \"bold\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"ROS(機器人開源平台)\",\n                \"wrap\": true,\n                \"size\": \"sm\",\n                \"flex\": 0,\n                \"weight\": \"bold\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": []\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"vertical\",\n            \"contents\": []\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"授課經歷🌻\",\n            \"wrap\": true,\n            \"weight\": \"bold\",\n            \"size\": \"xl\"\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"【工研院】打造Line-bot 聊天機器人\",\n                \"wrap\": true,\n                \"weight\": \"bold\",\n                \"size\": \"sm\",\n                \"flex\": 0\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"【資策會】Node-red in raspberry pi\",\n                \"wrap\": true,\n                \"weight\": \"bold\",\n                \"size\": \"sm\",\n                \"flex\": 0\n              }\n            ]\n          }\n        ]\n      }\n    }\n  ]\n};\n            window.onload = function() {\n                initializeLiff(\"{{liff_id}}\"); \n                this.my_short_name=\"{{short_name}}\";                          \n            };\n            \n            function initializeLiff(myLiffId) {\n                liff\n                    .init({\n                        liffId: myLiffId\n                    })\n                    .then(() => {\n                                           \n                    })\n                    .catch((err) => {\n                        document.getElementById('displaynamefield').textContent = \"LINE profile擷取失敗\";\n                    });\n            }\n            function get_profile(){\n                liff.getProfile().then(function(profile) {\n                    document.getElementById('displaynamefield').textContent = '名字' + profile.displayName;\n                    document.getElementById('displaypic').src = profile.pictureUrl;\n                    userId = profile.userId;\n                }).catch(function(error) {\n                    window.alert('Error getting profile: ' + error);\n                })\n            }\n            function sendTargetPicker() {\n                   \n                    if (!liff.isLoggedIn()) {\n                        liff.login({ redirectUri: window.location.href });\n                    }\n                    var flex = {\n                        \"type\": \"flex\",\n                        \"altText\": my_short_name,\n                        \"contents\": my_card,          \n                    };\n                    if (liff.isApiAvailable(\"shareTargetPicker\")) {\n                        liff\n                        .shareTargetPicker([flex])\n                        .then(function (res) {\n                            if (res) {\n                            alert(\"電子名片傳送成功\");\n                            liff.closeWindow();\n                            } else {\n                            const [majorVer, minorVer] = (liff.getLineVersion() || \"\").split(\".\");\n                            if (parseInt(majorVer) == 10 && parseInt(minorVer) < 11) {\n                                alert(\"欲使用電子名片，請將Line更新至最新版本\");\n                            } else {\n                                console.log(\"TargetPicker end\");\n                            }\n                            }\n                        })\n                        .catch(function (error) {\n                            alert(\"傳送失敗，請將Line更新至最新版本\");\n                            console.log(error);\n                        });\n                    }\n                }                \n        </script>\n\n        <style>\n        .button {\n            background-color: #008CBA;\n            color: white;\n            border: 2px solid #008CBA;\n            border-radius: 5px;\n            padding: 16px 32px;\n            text-align: center;\n            text-decoration: none;\n            display: inline-block;\n            font-size: 16px;\n            margin: 4px 2px;\n            transition-duration: 0.4s;\n            cursor: pointer;\n            width: 100%;\n        }\n        .center {\n            display: block;\n            margin-left: auto;\n            margin-right: auto;\n            width: 20%;\n        }\n        </style>\n    </body>\n</html>","output":"str","x":562.0000038146973,"y":119.00000095367432,"wires":[["e184963c.01a588","6b035856.9bab48"]]},{"id":"ccb5bcbe.5d6bf","type":"change","z":"b59bc4d3.917488","name":"設定 liff_id","rules":[{"t":"set","p":"title","pt":"msg","to":"Node-red 測試","tot":"str"},{"t":"set","p":"liff_id","pt":"msg","to":"1655113925-ZYDom4rm","tot":"str"},{"t":"set","p":"short_name","pt":"msg","to":"山雲科技名片","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["80b9e0e4.c75be","e6ba4b83.87a3a8"]]},{"id":"6b035856.9bab48","type":"debug","z":"b59bc4d3.917488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":777.0000076293945,"y":193.00000190734863,"wires":[]},{"id":"9cdeb0d4.fe5c2","type":"inject","z":"6a71d497.0c584c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":180,"wires":[["123e59a7.2eb366"]]},{"id":"123e59a7.2eb366","type":"http request","z":"6a71d497.0c584c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://liff--demo.herokuapp.com/","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[[]]},{"id":"e6ba4b83.87a3a8","type":"debug","z":"b59bc4d3.917488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":240,"wires":[]}]