.node-red/.flows.json.backup
[{"id":"b59bc4d3.917488","type":"tab","label":"heroku deploy","disabled":false,"info":""},{"id":"6a71d497.0c584c","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"49eeb9d7.b013e8","type":"http in","z":"b59bc4d3.917488","name":"","url":"/line","method":"get","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["ccb5bcbe.5d6bf"]]},{"id":"e184963c.01a588","type":"http response","z":"b59bc4d3.917488","name":"","statusCode":"","headers":{},"x":790,"y":120,"wires":[]},{"id":"80b9e0e4.c75be","type":"template","z":"b59bc4d3.917488","name":"Line 電子名片","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css\" integrity=\"sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M\" crossorigin=\"anonymous\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n        <title>LIFF Demo</title>\n    </head>\n   \n    <body>\n        <h1 id=\"displaynamefield\"> </h1>\n        <img id=\"displaypic\" width=\"100px\"　align=\"left\"/> \n        <br>\n        <button id=\"Btn1\" onclick=\"sendTargetPicker()\" >分享我的名片</button>\n        <script src=\"https://static.line-scdn.net/liff/edge/versions/2.6.0/sdk.js\"></script>\n        <script>\n            var my_card = {\n  \"type\": \"carousel\",\n  \"contents\": [\n    {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"url\": \"https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/121218543_3672938229385117_4689090759051412910_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=tbyo9Hmu2xQAX8xDMaZ&_nc_ht=scontent-tpe1-1.xx&oh=8d39abf1229f3db564072cf87a560a31&oe=60014211\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"label\": \"action\",\n          \"uri\": \"https://www.facebook.com/profile.php?id=100000069293619\"\n        }\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Jason \",\n            \"wrap\": true,\n            \"weight\": \"bold\",\n            \"size\": \"xl\"\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"軟體工程師\",\n                \"wrap\": true,\n                \"weight\": \"bold\",\n                \"size\": \"sm\",\n                \"flex\": 0,\n                \"action\": {\n                  \"type\": \"uri\",\n                  \"label\": \"action\",\n                  \"uri\": \"http://linecorp.com/\"\n                }\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"興趣 :　爬山，健身，閱讀\",\n                \"wrap\": true,\n                \"size\": \"sm\",\n                \"flex\": 0,\n                \"contents\": []\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"專長：C/C++，Linux，Node-Red\",\n                \"size\": \"sm\",\n                \"flex\": 0\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": []\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"button\",\n            \"style\": \"primary\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"label\": \"📞 Call me  \",\n              \"uri\": \"https://lihi1.cc/W5PE5\"\n            },\n            \"color\": \"#00ACC7\"\n          },\n          {\n            \"type\": \"button\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"label\": \"分享我的名片\",\n              \"uri\": \"https://liff.line.me/1655113925-ZYDom4rm\"\n            },\n            \"style\": \"primary\",\n            \"color\": \"#00ACC7\"\n          }\n        ]\n      }\n    },\n    {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"url\": \"https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/25994934_1764727466872879_1534274679590941321_n.jpg?_nc_cat=100&ccb=2&_nc_sid=19026a&_nc_ohc=CCIWikFh5MAAX-Jr11-&_nc_oc=AQnZyUT99NSSagsP-u1FupdZBStJ_5Wg_iI0LyRNMr9LL5LnObX9Ux2ldzxC8J_jZZQ&_nc_ht=scontent-tpe1-1.xx&oh=8e1d80e55db44685aafdd7945cf03d14&oe=5FFF47B3\"\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"交個朋友吧 !! \",\n            \"wrap\": true,\n            \"weight\": \"bold\",\n            \"size\": \"xxl\",\n            \"decoration\": \"none\",\n            \"align\": \"center\"\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"button\",\n            \"flex\": 2,\n            \"style\": \"primary\",\n            \"color\": \"#00CD00\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"label\": \"加個 Line\",\n              \"uri\": \"https://line.me/ti/p/Rjiz_ydf2Z\"\n            }\n          },\n          {\n            \"type\": \"button\",\n            \"flex\": 2,\n            \"style\": \"primary\",\n            \"color\": \"#1E90FF\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"uri\": \"https://www.facebook.com/profile.php?id=100000069293619\",\n              \"label\": \"FB\"\n            }\n          },\n          {\n            \"type\": \"button\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"label\": \"追蹤 IG\",\n              \"uri\": \"https://www.instagram.com/__jason_chang__/\"\n            },\n            \"style\": \"primary\",\n            \"color\": \"#FF1493\"\n          }\n        ]\n      }\n    },\n    {\n      \"type\": \"bubble\",\n      \"hero\": {\n        \"type\": \"image\",\n        \"size\": \"full\",\n        \"aspectRatio\": \"20:13\",\n        \"aspectMode\": \"cover\",\n        \"url\": \"https://ak-d.tripcdn.com/images/350v0y000000miab3FDE5_C_1000_560_Q80.jpg\"\n      },\n      \"body\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"台北101\",\n            \"wrap\": true,\n            \"weight\": \"bold\",\n            \"size\": \"xxl\",\n            \"decoration\": \"none\",\n            \"align\": \"center\"\n          }\n        ]\n      },\n      \"footer\": {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"button\",\n            \"flex\": 2,\n            \"style\": \"primary\",\n            \"color\": \"#00ACC7\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"uri\": \"https://www.taipei-101.com.tw/tw//\",\n              \"label\": \"網站\"\n            }\n          },\n          {\n            \"type\": \"button\",\n            \"action\": {\n              \"type\": \"uri\",\n              \"label\": \"地點\",\n              \"uri\": \"https://goo.gl/maps/5XbvVgspVHLSB5gs6\"\n            },\n            \"style\": \"primary\",\n            \"color\": \"#00ACC7\"\n          }\n        ]\n      }\n    }\n  ]\n};\n            var userId = \"\";\n            window.onload = function() {\n                initializeLiff(\"{{payload}}\"); \n                this.my_short_name=\"{{short_name}}\";\n                //this.my_card=JSON.parse(\"{{my_card}}\");              \n            };\n            \n            function initializeLiff(myLiffId) {\n                liff\n                    .init({\n                        liffId: myLiffId\n                    })\n                    .then(() => {\n                        // start to use LIFF's api\n                        liff.getProfile().then(function(profile) {\n                            document.getElementById('displaynamefield').textContent = '名字' + profile.displayName;\n                            document.getElementById('displaypic').src = profile.pictureUrl;\n                            userId = profile.userId;\n                        }).catch(function(error) {\n                            window.alert('Error getting profile: ' + error);\n                        })\n                    })\n                    .catch((err) => {\n                        document.getElementById('displaynamefield').textContent = \"LINE profile擷取失敗\";\n                    });\n            }\n            function sendTargetPicker() {\n                   \n                    if (!liff.isLoggedIn()) {\n                        liff.login({ redirectUri: window.location.href });\n                    }\n                    var flex = {\n                        \"type\": \"flex\",\n                        \"altText\": my_short_name,\n                        \"contents\": my_card,          \n                    };\n                    if (liff.isApiAvailable(\"shareTargetPicker\")) {\n                        liff\n                        .shareTargetPicker([flex])\n                        .then(function (res) {\n                            if (res) {\n                            alert(\"電子名片傳送成功\");\n                            liff.closeWindow();\n                            } else {\n                            const [majorVer, minorVer] = (liff.getLineVersion() || \"\").split(\".\");\n                            if (parseInt(majorVer) == 10 && parseInt(minorVer) < 11) {\n                                alert(\"欲使用電子名片，請將Line更新至最新版本\");\n                            } else {\n                                console.log(\"TargetPicker end\");\n                            }\n                            }\n                        })\n                        .catch(function (error) {\n                            alert(\"傳送失敗，請將Line更新至最新版本\");\n                            console.log(error);\n                        });\n                    }\n                }                \n        </script>\n    </body>\n</html>","output":"str","x":560,"y":120,"wires":[["e184963c.01a588"]]},{"id":"ccb5bcbe.5d6bf","type":"change","z":"b59bc4d3.917488","name":"設定 liff_id","rules":[{"t":"set","p":"payload","pt":"msg","to":"1655113925-ZYDom4rm","tot":"str"},{"t":"set","p":"short_name","pt":"msg","to":"山雲科技名片","tot":"str"},{"t":"set","p":"my_card","pt":"msg","to":"{   \"type\": \"carousel\",   \"contents\": [     {       \"type\": \"bubble\",       \"hero\": {         \"type\": \"image\",         \"size\": \"full\",         \"aspectRatio\": \"20:13\",         \"aspectMode\": \"cover\",         \"url\": \"https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/121218543_3672938229385117_4689090759051412910_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=tbyo9Hmu2xQAX8xDMaZ&_nc_ht=scontent-tpe1-1.xx&oh=8d39abf1229f3db564072cf87a560a31&oe=60014211\",         \"action\": {           \"type\": \"uri\",           \"label\": \"action\",           \"uri\": \"https://www.facebook.com/profile.php?id=100000069293619\"         }       },       \"body\": {         \"type\": \"box\",         \"layout\": \"vertical\",         \"spacing\": \"sm\",         \"contents\": [           {             \"type\": \"text\",             \"text\": \"Jason \",             \"wrap\": true,             \"weight\": \"bold\",             \"size\": \"xl\"           },           {             \"type\": \"box\",             \"layout\": \"baseline\",             \"contents\": [               {                 \"type\": \"text\",                 \"text\": \"軟體工程師\",                 \"wrap\": true,                 \"weight\": \"bold\",                 \"size\": \"sm\",                 \"flex\": 0,                 \"action\": {                   \"type\": \"uri\",                   \"label\": \"action\",                   \"uri\": \"http://linecorp.com/\"                 }               }             ]           },           {             \"type\": \"box\",             \"layout\": \"baseline\",             \"contents\": [               {                 \"type\": \"text\",                 \"text\": \"興趣 :　爬山，健身，閱讀\",                 \"wrap\": true,                 \"size\": \"sm\",                 \"flex\": 0,                 \"contents\": []               }             ]           },           {             \"type\": \"box\",             \"layout\": \"baseline\",             \"contents\": [               {                 \"type\": \"text\",                 \"text\": \"專長：C/C++，Linux，Node-Red\",                 \"size\": \"sm\",                 \"flex\": 0               }             ]           },           {             \"type\": \"box\",             \"layout\": \"baseline\",             \"contents\": []           }         ]       },       \"footer\": {         \"type\": \"box\",         \"layout\": \"vertical\",         \"spacing\": \"sm\",         \"contents\": [           {             \"type\": \"button\",             \"style\": \"primary\",             \"action\": {               \"type\": \"uri\",               \"label\": \"📞 Call me  \",               \"uri\": \"https://lihi1.cc/W5PE5\"             },             \"color\": \"#00ACC7\"           },           {             \"type\": \"button\",             \"action\": {               \"type\": \"uri\",               \"label\": \"分享我的名片\",               \"uri\": \"https://liff.line.me/1655113925-Ekzb35k3\"             },             \"style\": \"primary\",             \"color\": \"#00ACC7\"           }         ]       }     },     {       \"type\": \"bubble\",       \"hero\": {         \"type\": \"image\",         \"size\": \"full\",         \"aspectRatio\": \"20:13\",         \"aspectMode\": \"cover\",         \"url\": \"https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/25994934_1764727466872879_1534274679590941321_n.jpg?_nc_cat=100&ccb=2&_nc_sid=19026a&_nc_ohc=CCIWikFh5MAAX-Jr11-&_nc_oc=AQnZyUT99NSSagsP-u1FupdZBStJ_5Wg_iI0LyRNMr9LL5LnObX9Ux2ldzxC8J_jZZQ&_nc_ht=scontent-tpe1-1.xx&oh=8e1d80e55db44685aafdd7945cf03d14&oe=5FFF47B3\"       },       \"body\": {         \"type\": \"box\",         \"layout\": \"vertical\",         \"spacing\": \"sm\",         \"contents\": [           {             \"type\": \"text\",             \"text\": \"交個朋友吧 !! \",             \"wrap\": true,             \"weight\": \"bold\",             \"size\": \"xxl\",             \"decoration\": \"none\",             \"align\": \"center\"           }         ]       },       \"footer\": {         \"type\": \"box\",         \"layout\": \"vertical\",         \"spacing\": \"sm\",         \"contents\": [           {             \"type\": \"button\",             \"flex\": 2,             \"style\": \"primary\",             \"color\": \"#00CD00\",             \"action\": {               \"type\": \"uri\",               \"label\": \"加個 Line\",               \"uri\": \"https://line.me/ti/p/Rjiz_ydf2Z\"             }           },           {             \"type\": \"button\",             \"flex\": 2,             \"style\": \"primary\",             \"color\": \"#1E90FF\",             \"action\": {               \"type\": \"uri\",               \"uri\": \"https://www.facebook.com/profile.php?id=100000069293619\",               \"label\": \"FB\"             }           },           {             \"type\": \"button\",             \"action\": {               \"type\": \"uri\",               \"label\": \"追蹤 IG\",               \"uri\": \"https://www.instagram.com/__jason_chang__/\"             },             \"style\": \"primary\",             \"color\": \"#FF1493\"           }         ]       }     },     {       \"type\": \"bubble\",       \"hero\": {         \"type\": \"image\",         \"size\": \"full\",         \"aspectRatio\": \"20:13\",         \"aspectMode\": \"cover\",         \"url\": \"https://ak-d.tripcdn.com/images/350v0y000000miab3FDE5_C_1000_560_Q80.jpg\"       },       \"body\": {         \"type\": \"box\",         \"layout\": \"vertical\",         \"spacing\": \"sm\",         \"contents\": [           {             \"type\": \"text\",             \"text\": \"台北101\",             \"wrap\": true,             \"weight\": \"bold\",             \"size\": \"xxl\",             \"decoration\": \"none\",             \"align\": \"center\"           }         ]       },       \"footer\": {         \"type\": \"box\",         \"layout\": \"vertical\",         \"spacing\": \"sm\",         \"contents\": [           {             \"type\": \"button\",             \"flex\": 2,             \"style\": \"primary\",             \"color\": \"#00ACC7\",             \"action\": {               \"type\": \"uri\",               \"uri\": \"https://www.taipei-101.com.tw/tw//\",               \"label\": \"網站\"             }           },           {             \"type\": \"button\",             \"action\": {               \"type\": \"uri\",               \"label\": \"地點\",               \"uri\": \"https://goo.gl/maps/5XbvVgspVHLSB5gs6\"             },             \"style\": \"primary\",             \"color\": \"#00ACC7\"           }         ]       }     }   ] }","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["80b9e0e4.c75be","6b035856.9bab48"]]},{"id":"6b035856.9bab48","type":"debug","z":"b59bc4d3.917488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":220,"wires":[]},{"id":"9cdeb0d4.fe5c2","type":"inject","z":"6a71d497.0c584c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":180,"wires":[["123e59a7.2eb366"]]},{"id":"123e59a7.2eb366","type":"http request","z":"6a71d497.0c584c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://liff--demo.herokuapp.com/","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[[]]}]