.node-red/flows.json
[{"id":"49459178.c9087","type":"tab","label":"heroku server","disabled":false,"info":""},{"id":"55d1bf91.36346","type":"websocket-listener","z":"","path":"/ws/pub_to_heroku","wholemsg":"false"},{"id":"7f523c9e.9be0e4","type":"websocket-listener","z":"","path":"/ws/pub_to_local","wholemsg":"false"},{"id":"6962b061.aeb91","type":"http request","z":"49459178.c9087","name":"LINE REPLY API","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.line.me/v2/bot/message/reply","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":160,"wires":[[]]},{"id":"8947272.c0846d8","type":"http in","z":"49459178.c9087","name":"line bot server","url":"/linebot","method":"post","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["86ab75ed.4a0028","3230da25.170a46"]]},{"id":"f090bb85.5480d8","type":"comment","z":"49459178.c9087","name":"node-red heroku 將訊息回復至line伺服器","info":"","x":740,"y":120,"wires":[]},{"id":"3230da25.170a46","type":"debug","z":"49459178.c9087","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":60,"wires":[]},{"id":"86ab75ed.4a0028","type":"function","z":"49459178.c9087","name":"應聲蟲","func":"var messge = msg.payload;\nvar replyMessage = {\"type\": \"text\", \"text\": messge};\n\nmsg.payload = {\"messages\": [replyMessage],\"replyToken\": context.global.replyToken}; \nmsg.headers  = {\"Content-Type\": \"application/json\",\"Authorization\": \"Bearer \"+context.global.token}; \nmsg.payload.headers = msg.headers;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["6962b061.aeb91"]]},{"id":"b1cbac4f.bde02","type":"change","z":"49459178.c9087","name":"","rules":[{"t":"set","p":"token","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[[]]},{"id":"79cad931.065c18","type":"inject","z":"49459178.c9087","name":"token set","topic":"","payload":"NXZDKomlfEej4kgaapdSSzl532ilxcDktjlUUoSCOgJIXIAaX67Fbh219zcd0Wj8kBc+GD9YZOT4oITZG0aMaRdCdWbeuWjnvoLET2cMTtduP0Yi8IQ1pXa3jrR1XsEeQ8042sfl4fMsW0atRkSA3QdB04t89/1O/w1cDnyilFU=","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":125.9000015258789,"y":372.800012588501,"wires":[["b1cbac4f.bde02"]]},{"id":"8176d493.6e1508","type":"function","z":"49459178.c9087","name":"","func":"context.global.replyToken = \" \"\ncontext.global.item = \" \"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":276,"wires":[[]]},{"id":"9a7b0ac5.f47b28","type":"inject","z":"49459178.c9087","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":276,"wires":[["8176d493.6e1508"]]},{"id":"db29b180.6d9b3","type":"comment","z":"49459178.c9087","name":"必填","info":"","x":107.10000610351562,"y":334.1999969482422,"wires":[]}]