.node-red/flows.json
[{"id":"49459178.c9087","type":"tab","label":"heroku server","disabled":false,"info":""},{"id":"9bd5fb7f.13cf18","type":"template","z":"49459178.c9087","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n    <head>\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <meta name=\"viewport\" content=\"width=device-width,initial-scale=1,viewport-fit=cover\">\n        <title>LINE LIFF Demo</title>\n    <body>\n    <meta property=\"og:description\" content=\"山雲科技(電子名片服務)\">\n    <div id=\"app\"></div>\n    <!-- built files will be auto injected -->\n    </body>\n    </head>\n    <body>\n        <div id=\"app\">\n            <img :src=pictureUrl alt=\"profile\" width=\"100px\"　align=\"left\"/>\n            <h2><% displayName %></h2>\n            <p><% userId %></p>\n            <p><% statusMessage %></p>\n            <button @click=logout></button>\n        </div>\n\n        <script src=\"https://cdn.jsdelivr.net/npm/vue/dist/vue.js\"></script>\n        <script src=\"https://static.line-scdn.net/liff/edge/2.6.0/sdk.js\"></script>\n        <script>\n            'use strict';\n\n            const app = new Vue({\n                el: '#app',\n                data: function(){\n                    return{\n                        displayName: '',\n                        userId: '',\n                        statusMessage: '',\n                        pictureUrl: '',\n                    }\n                },\n                delimiters: [\"<%\",\"%>\"],\n                methods: {\n                    //プロフィール取得関数\n                    getProfile: async function(){\n                        const accessToken = liff.getAccessToken();\n                        const profile = await liff.getProfile();\n                        this.displayName = profile.displayName; //名前\n                        this.userId = profile.userId; //ID\n                        this.pictureUrl = profile.pictureUrl; //アイコン画像\n                        this.statusMessage = profile.statusMessage; //ステータスメッセージ\n                    },\n                    //ログアウト処理\n                    logout: async function(){\n                        if (liff.isLoggedIn()){\n                            alert('ログアウトします。');\n                            liff.logout();\n                            window.location.reload();\n                        }\n                    },\n                },\n                //ページを開いた時に実行\n                mounted: async function(){\n                    await liff.init({\n                        liffId: '1655113925-ZYDom4rm' //LIFFのID\n                    });  \n                    //LINE内のブラウザかどうか\n                    if(liff.isInClient()){\n                        alert('LINE内のブラウザ');\n                        this.getProfile(); //LINE内で開いた場合はログイン処理なし\n                    }else{\n                    //外部ブラウザかどうか\n                        if(liff.isLoggedIn()){\n                            alert('外部ブラウザ');\n                            this.getProfile();\n                        }else{\n                            liff.login();\n                        }\n                    }\n                }\n            });\n        </script>\n    </body>\n</html>","output":"str","x":390,"y":200,"wires":[["e4f7ce1f.2d842"]]},{"id":"d9d308e5.2f1bb8","type":"http in","z":"49459178.c9087","name":"","url":"/line","method":"get","upload":false,"swaggerDoc":"","x":220,"y":200,"wires":[["9bd5fb7f.13cf18"]]},{"id":"e4f7ce1f.2d842","type":"http response","z":"49459178.c9087","name":"","statusCode":"","headers":{},"x":570,"y":200,"wires":[]}]