.node-red/flows.json
[{"id":"49459178.c9087","type":"tab","label":"heroku server","disabled":false,"info":""},{"id":"55d1bf91.36346","type":"websocket-listener","z":"","path":"/ws/pub_to_heroku","wholemsg":"false"},{"id":"7f523c9e.9be0e4","type":"websocket-listener","z":"","path":"/ws/pub_to_local","wholemsg":"false"},{"id":"6962b061.aeb91","type":"http request","z":"49459178.c9087","name":"LINE REPLY API","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.line.me/v2/bot/message/reply","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":160,"wires":[[]]},{"id":"8947272.c0846d8","type":"http in","z":"49459178.c9087","name":"line bot server","url":"/linebot","method":"post","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["3230da25.170a46","942a2464.2ebee8"]]},{"id":"f090bb85.5480d8","type":"comment","z":"49459178.c9087","name":"node-red heroku 將訊息回復至line伺服器","info":"","x":740,"y":120,"wires":[]},{"id":"3230da25.170a46","type":"debug","z":"49459178.c9087","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":60,"wires":[]},{"id":"86ab75ed.4a0028","type":"function","z":"49459178.c9087","name":"應聲蟲","func":"var event = msg.payload[\"events\"][0];\nif(event[\"message\"][\"type\"] != \"text\"){\n    return msg;\n}\n\nvar message = event[\"message\"][\"text\"];\ncontext.global.replyToken = event[\"replyToken\"];\n\nvar replyMessage = {\"type\": \"text\", \"text\": messge};\n\nmsg.payload = {\"messages\": [replyMessage],\"replyToken\": context.global.replyToken}; \nmsg.headers  = {\"Content-Type\": \"application/json\",\"Authorization\": \"Bearer \"+context.global.token}; \nmsg.payload.headers = msg.headers;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["6962b061.aeb91"]]},{"id":"942a2464.2ebee8","type":"function","z":"49459178.c9087","name":"回應名片資訊","func":"var item = msg.payload;\n\nvar replyTemplate = {\"type\": \"template\", \"altText\": \"名片管理\",\"template\":{\n    type: 'confirm',\n    text: '名片資訊',\n    actions: [{\n      type: 'message',\n      label: 'Jason',\n      text: 'Jason名片'\n    }, {\n      type: 'message',\n      label: 'Cathy',\n      text: 'Cathy名片'\n    }]\n  }};\n\n\nif(item.includes('名片'))\n    msg.payload = {\"messages\": [replyTemplate],\"replyToken\": context.global.replyToken};\n\n  msg.headers  = {\"Content-Type\": \"application/json\",\"Authorization\": \"Bearer \"+context.global.token}; \n\n  return msg;\n","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["6962b061.aeb91"]]},{"id":"1d5809ae.30e3a6","type":"inject","z":"49459178.c9087","name":"token set","topic":"","payload":"rmKos2MuICJwAMg6wPW/7Gdh9MircQxXLZ7BjCbXHG+IdD29LfFFXHgFgNrzq7M8kBc+GD9YZOT4oITZG0aMaRdCdWbeuWjnvoLET2cMTtej/jViP6x8EtH3Ql6RerM8P+64CfmkEEgpYxB8dGUHRQdB04t89/1O/w1cDnyilFU=","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":140,"y":360,"wires":[["c059efc4.21fbb"]]},{"id":"3cf0dc66.6b5ff4","type":"comment","z":"49459178.c9087","name":"token","info":"","x":121.20000457763672,"y":321.3999843597412,"wires":[]},{"id":"c059efc4.21fbb","type":"function","z":"49459178.c9087","name":"","func":"context.global.token = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":301.7000026702881,"y":361.20000076293945,"wires":[[]]}]